body{
  font-family: "Red Hat Display", sans-serif;

  background-color: hsl(225, 100%, 94%);
  background-image: url(../images/pattern-background-mobile.svg);
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center; /*Alignment on cross-axis*/
  justify-content: center; /*Alignment on main-axis*/
}

@media (min-width: 400px) {
  body {
    background-image: url(../images/pattern-background-desktop.svg);
  }
}

/****************CONTAINERS************************/

.card {
  background-color: white;
  border-radius: 20px;
  overflow: auto;
  box-shadow: 0 2rem 2rem -1rem hsl(224, 23%, 55%, 0.2);
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  padding: 3rem;
  width: 450px;
  box-sizing: border-box;
}

.payment-summary {
  display: flex;
  flex-direction: row;
  align-items: center;

  padding: 24px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 15px;
  background-color: hsl(225, 100%, 98%);
}

.annual {
  display: inline-block;
  margin-right: auto;
  margin-left: 22px;
  text-align: left;
}

/**/

.card-img {
  display: block;
}

.music-img {
  float: left;
}

.card-header {
  color: hsl(223, 47%, 23%);
  font-weight: 900;
  margin: 0 auto;
}

.card-text {
  color: hsl(224, 23%, 55%);
  line-height: 1.5;
  margin: 1.25rem auto;
}

.annual-plan {
  color: hsl(223, 47%, 23%);
  font-size: 1rem;
  font-weight: 900;
  margin: 0 auto 0.5rem;
}

.plan-price {
  color: hsl(224, 23%, 55%);
  font-weight: 500;
  margin: 0 auto;
}

.link {
  color: hsl(245, 75%, 52%);
  font-weight: 700;
  font-size: 0.9rem;
}

.link:hover {
  color: hsl(245, 75%, 52%, 0.6);
  text-decoration: none;
}

.payment-btn {
  width: 100%;
  height: auto;
  padding: 1rem;
  margin: 2rem auto;

  font-size: 1rem;
  font-weight: 700;
  color: white;
  background-color: hsl(245, 75%, 52%);

  border-radius: 10px;
  border: none;
  box-shadow: 0 1rem 1rem hsl(245, 75%, 52%, 0.15);
}

.payment-btn:hover {
  background-color: hsl(245, 75%, 52%, 0.6);
}

.cancel-btn {
  background: none;
  border: none;
  font-size: 1rem;
  font-weight: 900;
  color: hsl(224, 23%, 55%);
}

.cancel-btn:hover {
  color: hsl(223, 47%, 23%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
